* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

#main-wrapper {
  width: 100%;
  height: auto;
  padding: 20px auto;
  z-index: 10;
}

.container_box {
  width: 100%;
  height: 500vh;
  transition: 0.8s ease-in-out;
}

.container {
  width: 100%;
  padding: 10px;
  min-height: 100vh;
  z-index: 10;
  position: relative;
}

#box_1 {
    background-image: url('./images/undraw_programming_re_kg9v.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: white;
}

#box_1 .name_box {
  padding: 10px 20px;
  backdrop-filter: blur(10px);
  border-radius: 15px;
  color: black;
}
#box_1 .name {
  margin: 20px auto;
}
#box_1 .career {
  font-size: 1rem;
  letter-spacing: 4px;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2.7s steps(18), cursor 0.4s step-end infinite alternate;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
/* box one end */

/* box two start */
#box_2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}
.frameworks {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.frameworks img {
  height: 110px;
  width: auto;
  border: 5px solid rgba(0, 0, 0, 0.373);
  transition: transform 0.3s ease;
  border-radius: 5px;
}
.frameworks img:hover {
  transform: scale(1.3); /* Scale up the image on hover */
}
#img_2 {
  border-radius: 30px;
}
#img_3 {
  border-radius: 50px;
}
#img_4 {
  border-radius: 40px;
}

.learned h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
  font-family: 'Roboto Mono', monospace;
}
.learning_road {
  text-align: left;
}
.mile_stone {
  margin: 10px 0;
  font-size: 18px;
  color: white;
}
.mile_stone ol {
  list-style-type: circle;
  padding-left: 20px;
}
.mile_stone li {
  margin: 5px 0;
  font-size: 16px;
  color: white;
  font-family: 'Roboto Mono', monospace;
}

/* box two end */

#box_3 {
  margin: 0 auto;
  max-width: 1000px;
  max-height: 90vh;
}

.project_list {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.project {
  flex: 0 0 calc(33% - 10px);
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.project img {
  max-height: 210px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project a {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  position: relative;
  margin-top: 25px;
  transition: color 0.3s;
  text-align: center;
}
.project a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -5px;
  background-color: #dc0d0d;
  border-radius: 5px;
  transform-origin: bottom;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.project a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}

/* box three end */
#box_4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: baseline;
  align-items: center;
  background-color: black;
  padding: 20px;
  color: honeydew;
}

#box_4 h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.teacher_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.teacher_list li {
  margin-bottom: 10px;
  font-size: 18px;
}

.other_teacher {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}
#box_4 img {
  margin: 20px;
  height: 300px;
  margin-bottom: -200px;
  align-items: flex-end;
}
/* box four end */

#box_5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  text-align: center;
}
#box_5 img {
  width: 300px;
  margin-bottom: 100px;
}
#box_5 p {
  margin: 10px auto;
}
#box_5 .contact_me {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.button_box {
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 100;
  margin-bottom: 50px;
  color: red;
}
.btn {
  cursor: pointer;
  display: block;
  margin-top: 20px;
  border-radius: 5px;
  padding: 30px 20px;
  font-size: 25px;
}
#prevBtn {
  background-color: transparent;
  border-top: 4px solid rgb(112, 0, 0);
  border-left: 4px solid rgb(112, 0, 0);
  transform: rotate(-45deg);
}
#nextBtn {
  background-color: transparent;
  border-top: 4px solid rgb(112, 0, 0);
  border-right: 4px solid rgb(112, 0, 0);
  transform: rotate(45deg);
}

@media (max-width: 768px) {
  #box_1 {
    justify-content: center;
    align-items: last baseline;
  }
  #box_1 .name_box {
    margin-bottom: 40%;
    padding: 5px 10px;
  }
  #box_1 .career {
    font-size: 0.7rem;
    letter-spacing: 1px;
    border-right: 5px solid;
  }
  /* box one done */
  #box_2 {
    flex-direction: column;
  }
  .frameworks {
    display: block;
  }
  .learned .learning_road {
    display: none;
  }
  /*  box two done */
  .project_list {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .project {
    max-width: 300px;
    min-width: 250px;
  }
  .project a {
    margin: 5px 10px;
  }
  .project img {
    display: none;
  }
  /* box three done */
  #box_4 img {
    margin: 20px;
    height: 200px;
    margin-bottom: -200px;
  }
  /* box four done */
  .btn {
    margin-top: 10px;
    border-radius: 5px;
    padding: 20px 12px;
    font-size: 20px;
  }
}
/* game box start */
#game_start_modal_btn {
  /* display: inline-block; */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  transition: 0.3s ease;
}
#game_start_modal_btn:hover {
  transform: scale(1.5);
  text-shadow: 0 0 6px #f516df, 0 0 14px #6c16f5;
}
.modal_container {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 10;
  overflow: auto;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 36px;
  cursor: pointer;
  color: blue;
  padding: 0px 7px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 5px #f516e2, 0 0 10px #f847ea;
}

.close:hover {
  box-shadow: 0 0 30px #e849db, 0 0 40px #e562da;
}

.game_wrapper {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  gap: 10px;
}

.game_key_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 400px;
}

.game_key {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 3px 3px 6px #f516e2;
  user-select: none;
  transition: transform 0.3s ease;
}

.active_1::before {
  content: '';
  position: relative;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 3px solid #003977;
  border-radius: 50%;
  transition: opacity 0.3s;
}
.active_2::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 3px;
  transform: rotate(45deg);
  background-color: #003977;
  transition: opacity 0.3s;
}
.active_2::after {
  content: '';
  position: absolute;
  width: 70px;
  height: 3px;
  transform: rotate(-45deg);
  background-color: #003977;
  transition: opacity 0.3s;
}
.bingo {
  transform: scale(1.05);
  box-shadow: 4px 4px 8px #16f529;
}

.game_key:hover {
  transform: scale(1.05);
}
.game_key:active {
  transform: scale(0.9);
}

.next_one::before {
  content: '';
  position: relative;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 3px solid #003977;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.next_one:hover::before {
  opacity: 1;
}

.game_dashboard {
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  margin-top: 15px;
  border: 1px solid green;
  border-radius: 20px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 3px #16f529, 0 0 7px #16f529;
}
.game_dashboard:hover {
  box-shadow: 0 0 6px #16f529, 0 0 14px #16f529;
}
#learningLevel {
  height: 10px;
  margin: 15px auto;
  appearance: none;
  background: white;
  border-radius: 5px;
  outline: none;
}

#learningLevel::-webkit-slider-thumb {
  appearance: none;
  width: 5px;
  height: 10px;
  background: red;
  cursor: pointer;
  box-shadow: 0 0 3px #dd0000, 0 0 7px #a10000;
}

#learningLevel::-moz-range-thumb {
  appearance: none;
  width: 5px;
  height: 10px;
  background: silver;
  box-shadow: 0 0 3px #dd0000, 0 0 7px #a10000;
  cursor: pointer;
}

.winnerBox {
  font-size: 24px;
  border-radius: 10px;
  padding: 5px 50px;
  font-weight: bold;
  text-shadow: 0 0 6px #16f529, 0 0 14px #16f529;
}

.restart_btn {
  cursor: pointer;
  display: block;
  margin: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #ffffff;
  font-size: 18px;
  transition: box-shadow 0.3s ease, color 0.1s ease;
}

.restart_btn:hover {
  box-shadow: 0 0 10px rgba(212, 212, 212, 0.861);
}
.restart_btn:active {
  background-color: rgb(82, 82, 82);
  color: white;
}
/*  game end */
